#newtab-recently-closed {
  margin-left: 20px;
  max-width: 300px;
  min-width: 200px;
}

#newtab-recently-closed .newtab-title {
  position: static;
}

#newtab-recently-closed,
#newtab-recently-closed ul
{
  display: -moz-box;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

#newtab-recently-closed-list li {
  cursor: pointer;
  margin: 1ex;
  overflow: hidden;
  padding-left: 20px;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  -moz-box-orient: horizontal;
}

#newtab-recently-closed-list li img {
  position: absolute;
  top: 0;
  left: 0;
}
