#newtabplus-wrapper {
  margin-left: 20px;
  max-width: 600px;
  min-width: 462px;
  -moz-box-orient: vertical;
}

#newtabplus-wrapper #newtabplus-recently-closed {
  min-height: 315px;
  min-height: 200px;
  -moz-box-flex: 1;
  -moz-margin-end: 0;
}

#newtabplus-wrapper > iframe {
  margin-top: 20px;
  -moz-box-flex: 10;
}

#newtabplus-recently-closed .newtab-title {
  position: static;
}

#newtabplus-recently-closed,
#newtabplus-recently-closed ul
{
  display: -moz-box;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
}

#newtabplus-recently-closed-list li {
  cursor: pointer;
  margin: 1ex;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  -moz-box-orient: horizontal;
}

#newtabplus-recently-closed-list li image {
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
  width: 16px;
}
