/* */
#newtabplus-wrapper {
  margin-left: 20px;
  max-width: 600px;
  min-width: 462px;
  -moz-box-orient: vertical;
}

#newtabplus-wrapper .newtabplus-section {
  display: -moz-box;
  -moz-box-flex: 1;
  -moz-box-orient: vertical;
  -moz-margin-end: 0;
}

#newtabplus-wrapper .newtabplus-section + .newtabplus-section {
  margin-top: 20px;
}

.newtabplus-section .newtab-title {
  position: static;
}

.newtabplus-section ul {
  display: -moz-box;
  -moz-box-orient: vertical;
}

.newtabplus-section ul li {
  cursor: pointer;
  margin: 1ex;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;
  -moz-box-orient: horizontal;
}

.newtabplus-section ul li image {
  height: 16px;
  margin-right: 4px;
  vertical-align: bottom;
  width: 16px;
}
/* */